<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button
        defaultHref="tabs/home"
        icon="chevron-back"
        mode="md"
        class="btn-back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ tiltle }}</ion-title>
    <!--<ion-buttons slot="end" class="ion-no-margin">
      <ion-button
        (click)="closeModal()"
        mode="md"
        fill="clear"
        class="btn-close"
      >
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-list class="ion-no-padding" *ngIf="lan == 'En'">
    <ion-item
      mode="md"
      lines="full"
      *ngFor="let item of data?.data"
      (click)="copy_acc(item.acc_no)"
    >
      <ion-avatar>
        <img [src]="item.img" />
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-avatar>
      &nbsp;&nbsp;
      <ion-label>
        <h3>{{ item.name_en }}</h3>
        <p>{{ item.acc_no }}</p>
        <p>{{ item.bank_name_en }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-no-padding" *ngIf="lan !== 'En'">
    <ion-item
      mode="md"
      lines="full"
      *ngFor="let item of data?.data"
      (click)="copy_acc(item.acc_no)"
    >
      <ion-avatar>
        <img [src]="item.img" />
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="copy-outline"></ion-icon>
      </ion-avatar>
      &nbsp;&nbsp;
      <ion-label>
        <h3>{{ item.name_ar }}</h3>
        <p>{{ item.acc_no }}</p>
        <p>{{ item.bank_name_ar }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
