<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button defaultHref="tabs/home" icon="chevron-back" mode="md" class="btn-back"></ion-back-button>
    </ion-buttons>
    <ion-title header-title>{{ 'ChangePasswordPage.text1' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-text-center ion-padding-bottom">
  <ion-icon class="otp-icon" src="../../../assets/svg_icon/set_new_password.svg"></ion-icon>
  <h5 class="info-title">{{ 'ChangePasswordPage.text2' | translate }}</h5>
  <div *ngIf="lan == 'En'">
    <form #f="ngForm">
      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-en" [type]="showpassword ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text4' | translate }}"
        [(ngModel)]="data.old_password" name="old_password" required>
      </ion-input>
      <ion-button slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword_old()">
        <ion-icon slot="icon-only" [name]="showpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>

      <p class="err" *ngIf="err?.old_password && lan == 'En'">*{{err?.old_password[0]}}</p>

      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-en" [type]="password ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text5' | translate }}"
        [(ngModel)]="data.password" name="password" required>
      </ion-input>
      <ion-button slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword()">
        <ion-icon slot="icon-only" [name]="password ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>
  
      <p *ngFor="let item of err?.password" class="err">
        *{{item.err}}</p>

      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-en" [type]="cshowpassword ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text6' | translate }}"
        [(ngModel)]="data.password_confirmation" name="password_confirmation" required>
      </ion-input>
      <ion-button slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword2()">
        <ion-icon slot="icon-only" [name]="cshowpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>.

      <p class="err" *ngIf="err?.password_confirmation && lan == 'En'">*{{err?.password_confirmation.err}}</p>

      <ion-button expand="block" class="ion-no-margin btn-general" (click)="doChange()" [disabled]="!f.valid">
        {{ 'ChangePasswordPage.text3' | translate }} 
      </ion-button>
    </form>
  </div>
  <div *ngIf="lan !== 'En'">
    <form #f="ngForm">
      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-ar" [type]="showpassword ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text4' | translate }}"
        [(ngModel)]="data.old_password" name="old_password" required>
      </ion-input>
      <ion-button  slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword_old()">
        <ion-icon slot="icon-only" [name]="showpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>
     
      <p class="err" *ngIf="err?.old_password && lan !== 'En'">{{err?.old_password[1]}}*</p>


      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-ar" [type]="password ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text5' | translate }}"
        [(ngModel)]="data.password" name="password" required>
      </ion-input>
      <ion-button slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword()">
        <ion-icon slot="icon-only" [name]="password ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>
  
      
      <p *ngFor="let item of err?.password" class="err">
        {{item.err_ar}}*</p>

      <ion-item class="ion-no-padding" lines="none">
        <ion-input custom-input class="input-ar" [type]="cshowpassword ? 'text' : 'password'" placeholder="{{ 'ChangePasswordPage.text6' | translate }}"
        [(ngModel)]="data.password_confirmation" name="password_confirmation" required>
      </ion-input>
      <ion-button slot="end" class="btn-password-toggle ion-no-margin" fill="clear" (click)="togelPassword2()">
        <ion-icon slot="icon-only" [name]="cshowpassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-item>
      <!--<p class="err" *ngIf="err?.password_confirmation">{{err?.password_confirmation}}*</p>-->
      
      <p class="err" *ngIf="err?.password_confirmation && lan !== 'En'">{{err?.password_confirmation.err_ar}}*</p>

      <ion-button expand="block" class="ion-no-margin btn-general" (click)="doChange()" [disabled]="!f.valid">
        {{ 'ChangePasswordPage.text3' | translate }} 
      </ion-button>
    </form>
  </div>
  

</ion-content>